$body-bg: #f3f3f3;
$body-color: #0d1b1e;
$font-family-base: "Anaheim", sans-serif;
$primary: #386c0b;
$secondary: #aad922;
$dark: #0d1b1e;
$navbar-light-brand-color: $dark;
$hero-color: $dark;

$bootstrap-icons-font-dir: "../../assets/fonts/";
