@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Alatsi&family=Anaheim&display=swap");

$body-bg: #f3f3f3;
$body-color: #0d1b1e;
$font-family-base: "Anaheim", sans-serif;

$hero-color: $body-color;

@import "../../node_modules/bootstrap/scss/bootstrap";

.logo {
  font-family: "Alatsi", sans-serif;
}

.hero {
  background-color: $hero-color;
  color: $body-bg;

  &__img-container {
    position: relative;

    @media screen and (max-width: 1080px) {
      display: none;
    }

    img {
      position: absolute;
      top: -6rem;
      left: 2rem;
      width: 90%;
      border-radius: 5px;
    }
  }
}
